[submodule "ros1/src/mir_robot"]
	path = ros1/src/mir_robot
	url = https://github.com/dfki-ric/mir_robot.git
[submodule "external/rmf-editor"]
	path = external/rmf-editor
	url = git@github.com:osrf/rmf-editor.git
[submodule "external/src/rmf-editor"]
	path = external/src/rmf-editor
	url = git@github.com:osrf/rmf-editor.git
[submodule "external/src/traffic-editor"]
	path = external/src/traffic-editor
	url = git@github.com:osrf/traffic-editor.git
[submodule "ros2/src/rmf_core"]
	path = ros2/src/rmf_core
	url = git@github.com:osrf/rmf_core.git
[submodule "ros2/src/rmf_map_to_graph"]
	path = ros2/src/rmf_map_to_graph
	url = git@github.com:cnboonhan94/rmf_map_to_graph.git
