[submodule "ros1/src/mir_robot"]
	path = ros1/src/mir_robot
	url = https://github.com/dfki-ric/mir_robot.git
[submodule "external/rmf-editor"]
	path = external/rmf-editor
	url = git@github.com:osrf/rmf-editor.git
[submodule "external/src/rmf-editor"]
	path = external/src/rmf-editor
	url = git@github.com:osrf/rmf-editor.git
